body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
body .container {
    max-width: 1000px;
    margin: 30px auto;
}

body .mycheckbox {
    margin: 0 0 0 10px;
}

#api_status {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cccccc;
}